@font-face {
    font-family:  'ElM';
    src: url('../fonts/Monserrat-Regular.ttf');
    font-weight:400 ;
}
@font-face {
    font-family:  'ElM';
    src: url('../fonts/Monserrat-Medium.ttf');
    font-weight:500 ;
}
@font-face {
    font-family:  'ElM';
    src: url('../fonts/Monserrat-SemiBold.ttf');
    font-weight:600;
}
@font-face {
    font-family:  'ElM';
    src: url('../fonts/Monserrat-Bold.ttf');
    font-weight:700 ;
}

